.item {
  width: 460px;
  height: 218px;
  background-color: rgb(243, 246, 249);
  border-radius: 20px;
  margin-bottom: 40px;
  cursor: pointer;
  .content {
    padding: 30px 30px 40px;
    .title {
      margin: 0 0 10px;
      font-size: 32px;
      font-weight: 400;
    }
    .description {
      font-size: 16px;
      color: #787878;
      margin: 10px 0 30px;
      font-weight: 400;
    }
    .btn {
      padding: 0;
      border: none;
      font: inherit;
      color: #2e3192;
      background-color: transparent;
      cursor: pointer;
      line-height: 1.55;
      font-weight: 700;
    }
  }
  &:last-child {
    background: #2e3192;
    .content {
      .title {
        font-size: 24px;
        color: white;
      }
      .btn {
        color: #F0D031;
      }
    }
  }
  &:hover {
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, .1);
  }
}